<<<<<<< HEAD
@font-face{
  font-family: 'PTSans';
  src:  url('font/10183.ttf');
}
.octopus-body
{
    font-family:PTSans;
}
.octopus-body *{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.octopus-body.disabled{pointer-events:none}

.text-body
{
    position:relative;  top: 128px; width: 100%; font-size: 25px; text-align: center; margin-left: -30px;
}
.color-1{
    color: #6DD9D8;
    font-weight: 700;
}
.color-2
{
    color: #6D86D9;
    font-weight: 700;
}
.octopus-body__rate{background:rgba(255,255,255,.2);position:absolute;left:-38px;top:10px;height:19px;width:32px;border-radius:4px;padding-top:1px;padding-left:1px}
.octopus-body__rate,.octopus-body__tbc{transition:background-color .2s ease-out}



.ItemFuture
{
    font-size: 12px;
    margin-top: 12px;
    margin-left: 20px;
    float: left;

}
.ItemNow
{
    font-size: 12px;
    margin-top: 12px;
    margin-right: 2px;
   float: right;
    
    
}




.octopus-body__shadow{-webkit-transform:translateZ(0)!important;transform:translateZ(0)!important}
.octopus-body__shadow{position:absolute;margin:0;top:15;right:0;height:500px;width:816px;mix-blend-mode:multiply;-webkit-filter:blur(30px);filter:blur(30px)}
.octopus-body__shadow div{border:none}



.octopus-body__head{width:320px;height:508px;left:512px;border-radius:0 285px 285px 0;border-right:1px solid hsla(0,0%,100%,.2);background-color: #6DD9D8}






.octopus-body__tentacles,.editable__input{font-weight:700;font-size: 20; color: #343535; text-align:left;}



.octopus-body__tentacles,.editable__textput{ width:90%;font-weight:700;font-size: 20; white-space: nowrap; border:1px solid transparent; background-color:rgb(255,255,255,0); color: #343535; text-align:right; }

.editable__textput{ width:90%;font-weight:700;font-size: 20; white-space: nowrap; border:1px solid transparent; background-color:rgb(255,255,255,0); color: #343535; text-align:right; }









.octopus-body__head{transition:background .2s ease-out}
.octopus-body__handle,.octopus-body__rule{position:absolute;top:0;height:100%;pointer-events:none}
.octopus-body__handle{background-color: rgba(0, 0, 0, 0.2);}
.octopus-body__rule{right:0;width:1px;border-left:1px solid hsla(0,0%,100%,.2); border-color: rgba(255, 255, 255, .2 );}
.octopus-body__rule,
.rule-0
{
    transform: translate(-50px, 0px)
}
.rule-1
{
    transform: translate(-100px, 0px);
}
.rule-2
{
    transform: translate(-200px, 0px);
}
.rule-3
{
    transform: translate(-300px, 0px);
}
.rule-4
{
    transform: translate(-400px, 0px);
}
.rule-5
{
    transform: translate(-150px, 0px)
}
.octopus-body__front{position:absolute;top:150px;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0);height:200px;width:816px;margin-left: 200px;}
.octopus-body__front:hover.octopus-body__eye:before{box-shadow:0 2px 4px 0 rgba(0,0,0,.15)}
.octopus-body__eye{position:absolute;right:40%;top:22%;left: 55%; border-color: rgba(255, 255, 255, 0.2);}
.octopus-body__eye{transition:background-color .2s ease-out}

.octopus-body .scale-90{-webkit-transform:scale(.9);transform:scale(.9)}left: 55%; border-color: rgba(255, 255, 255, 0.2);
.octopus-body .scale-80{-webkit-transform:scale(.8);transform:scale(.8)}

.eye{background-position:50% 50%;background-repeat:no-repeat;background-size:contain;transition:background-image .2s ease-out}
.eye--3,.eye--3.shadow{background-image:url(img/8e970299d4cd60771564af94aac370dd.png);-webkit-transform:translate(-25px,-26px);width:110px;height:120px}


.octopus-body__tentacles,.octopus-body__head{position:absolute;top:0;border-top:1px solid hsla(0,0%,100%,.2)}
.octopus-body__tentacles{ 
    position:absolute;
     
    height:50px;border-radius:20px 0 0 20px;border: 1px; border-left:2px solid hsla(0,0%,100%,.2);right:303px;box-sizing:border-box; border-color: rgba(0, 0, 0, 0.5);}




.octopus-body__tentacles,
.tentacles-0
{
    
    width: 327px; transform: translate(0px, 0px);
    background: linear-gradient(to right,#6D86D9,#6D86D9,#6DD9D8,#6DD9D8,#6DD9D8,#6DD9D8);
}.tentacles-1
{
    width: 327px; transform: translate(0px, 51px);
    background: linear-gradient(to right,#6D86D9,#6D86D9,#6DD9D8,#6DD9D8,#6DD9D8,#6DD9D8,#6DD9D8);
}
.tentacles-2
{
  width: 327px;transform: translate(0px, 102px);
    background: linear-gradient(to right,#6D86D9,#6D86D9,#6DD9D8,#6DD9D8,#6DD9D8,#6DD9D8);
}
.tentacles-3
{
    width: 327px; transform: translate(0px, 153px);
    background: linear-gradient(to right,#6D86D9,#6D86D9,#6DD9D8,#6DD9D8);
}
.tentacles-4
{
    width: 250px; transform: translate(0px, 204px);
    background: linear-gradient(to right,#6D86D9,#6DD9D8,#6DD9D8,#6DD9D8,#6DD9D8);
}
.tentacles-5
{
    width: 532px; transform: translate(0px, 255px);
    background: linear-gradient(to right,#6DD9D8,#6DD9D8);
}
.tentacles-6
{
    width: 227px; transform: translate(0px, 306px);
    background: linear-gradient(to right,#6D86D9,#6DD9D8,#6DD9D8,#6DD9D8);
}
.tentacles-7
{
    width: 276px; transform: translate(0px, 357px);
    background: linear-gradient(to right,#6D86D9,#6D86D9,#6DD9D8,#6DD9D8);
}
.tentacles-8
{
    width: 378px; transform: translate(0px, 408px);
    background: linear-gradient(to right,#EF1F27,#F53D44,#6DD9D8,#6DD9D8);
}
.tentacles-9
{
    width: 10px; transform: translate(0px, 459px);
    background: linear-gradient(to right,#6D86D9 ,#6DD9D8);
}



.octopus-body__fieldF,.octopus-body__head{position:absolute;top:0;border-top:1px solid hsla(0,0%,100%,.2)}
.octopus-body__fieldF{background-color:#26c853;height:40px;border-radius:20px 0 0 20px;border-left:1px solid hsla(0,0%,100%,.2);right:303px;box-sizing:border-box; border-color: rgba(255, 255, 255, 0.2);}
.octopus-body__fieldF,
.idf0
{
    width: 65px; transform: translate(-346px, 0px);
}
.idf1
{
    width: 65px; transform: translate(-303px, 41px);
}
.idf2
{
    width: 65px; transform: translate(-250px, 82px);
}
.idf3
{
    width: 165px; transform: translate(-150px, 123px);
}
.idf4
{
    width: 165px; transform: translate(-202px, 205px);
}

.idf6
{
    width: 113px; transform: translate(-250px, 287px);
}
.idf7
{
    width: 113px; transform: translate(-202px, 164px);
}

=======
.octopus-body{position:relative;width:1400px;height: 800px;margin:20px;right: 100px }
.octopus-body *{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.octopus-body.disabled{pointer-events:none}

.text-octopus
{
    position:relative; left:250px; top: 275px; width: 100%; font-size: 25px; text-align: center;;word-spacing: 10px; line-height: 25px;
}
.p1{
    color: #4ed4b9;
    font-weight: 700;
}
.p2
{
    color: #26c853;
    font-weight: 700;
}
.octopus-body__rate{background:rgba(255,255,255,.2);position:absolute;left:-38px;top:10px;height:19px;width:32px;border-radius:4px;padding-top:1px;padding-left:1px}
.octopus-body__rate,.octopus-body__tbc{transition:background-color .2s ease-out}







.octopus-body__shadow{-webkit-transform:translateZ(0)!important;transform:translateZ(0)!important}
.octopus-body__shadow{position:absolute;margin:0;top:15;right:0;height:500px;width:816px;mix-blend-mode:multiply;-webkit-filter:blur(30px);filter:blur(30px)}
.octopus-body__shadow div{border:none}



.octopus-body__head{width:320px;height:326px;left:512px;border-radius:0 285px 285px 0;border-right:1px solid hsla(0,0%,100%,.2);background-color: #4ed4b9}
.octopus-body__field,.octopus-body__head{position:absolute;top:0;border-top:1px solid hsla(0,0%,100%,.2)}
.octopus-body__field{background-color:#4ed4b9;height:40px;border-radius:20px 0 0 20px;border-left:1px solid hsla(0,0%,100%,.2);right:303px;box-sizing:border-box; border-color: rgba(255, 255, 255, 0.2);}




.editable__input{transition:background-color .2s;background-color:rgb(255,255,255,.2)}
.editable__input,.editable__title{width:100%;font-weight:700;font-size:15;border:1px solid transparent;text-align:center; padding: 7px}
.editable__input{padding:0px;height:18px;width:25px;border-radius:2px;padding-left:4px}

.editable__textput{ width:90%;font-weight:700;font-size: inherit; white-space: nowrap; border:1px solid transparent; background-color:rgb(255,255,255,0); color: #343535; text-align:center; padding: 7px}










.octopus-body__head{transition:background .2s ease-out}
.octopus-body__handle,.octopus-body__rule{position:absolute;top:0;height:100%;pointer-events:none}
.octopus-body__handle{background-color: rgba(0, 0, 0, 0.2);}
.octopus-body__rule{right:0;width:1px;border-left:1px solid hsla(0,0%,100%,.2); border-color: rgba(255, 255, 255, .2 );}
.octopus-body__rule,
.rule-0
{
    transform: translate(-50px, 0px)
}
.rule-1
{
    transform: translate(-100px, 0px);
}
.rule-2
{
    transform: translate(-200px, 0px);
}
.rule-3
{
    transform: translate(-300px, 0px);
}
.rule-4
{
    transform: translate(-400px, 0px);
}
.rule-5
{
    transform: translate(-150px, 0px)
}
.octopus-body__front{position:absolute;top:150px;right:50px;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0);height:200px;width:816px}
.octopus-body__front:hover.octopus-body__eye:before{box-shadow:0 2px 4px 0 rgba(0,0,0,.15)}
.octopus-body__eye{position:absolute;right:40%;top:22%;left: 55%; border-color: rgba(255, 255, 255, 0.2);}
.octopus-body__eye{transition:background-color .2s ease-out}

.octopus-body .scale-90{-webkit-transform:scale(.9);transform:scale(.9)}left: 55%; border-color: rgba(255, 255, 255, 0.2);
.octopus-body .scale-80{-webkit-transform:scale(.8);transform:scale(.8)}

.eye{background-position:50% 50%;background-repeat:no-repeat;background-size:contain;transition:background-image .2s ease-out}
.eye--3,.eye--3.shadow{background-image:url(img/8e970299d4cd60771564af94aac370dd.png);-webkit-transform:translate(-25px,-26px);width:110px;height:120px}


.octopus-body__field,
.id0
{
    width: 365px; transform: translate(0px, 0px)
}
.id1{
width: 320px; transform: translate(0px, 41px)
}
.id2
{
    width: 265px; transform: translate(0px, 82px)
}
.id3
{
    width: 165px; transform: translate(0px, 123px);
}
.id4
{
    width: 220px; transform: translate(0px, 205px);
}
.id5
{
    width: 512px; transform: translate(0px, 246px);
}
.id6
{
    width: 265px; transform: translate(0px, 287px);
}
.id7
{
    width: 220px; transform: translate(0px, 164px);
}

.octopus-body__fieldF,.octopus-body__head{position:absolute;top:0;border-top:1px solid hsla(0,0%,100%,.2)}
.octopus-body__fieldF{background-color:#26c853;height:40px;border-radius:20px 0 0 20px;border-left:1px solid hsla(0,0%,100%,.2);right:303px;box-sizing:border-box; border-color: rgba(255, 255, 255, 0.2);}
.octopus-body__fieldF,
.idf0
{
    width: 65px; transform: translate(-346px, 0px)
}
.idf1
{
    width: 65px; transform: translate(-303px, 41px)
}
.idf2
{
    width: 65px; transform: translate(-250px, 82px)
}
.idf3
{
    width: 165px; transform: translate(-150px, 123px)
}
.idf4
{
    width: 165px; transform: translate(-202px, 205px)
}

.idf6
{
    width: 113px; transform: translate(-250px, 287px)
}
.idf7
{
    width: 113px; transform: translate(-202px, 164px)
}
>>>>>>> fe05a93e1037eebe7c698b3323c385f6593a5b48
